.home-container {
  width: 100%;
  height: 400px;
  border: 1px solid greenyellow;
  position: relative;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  color: transparent;
  text-transform: uppercase;
  cursor: default;
}

.title span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  color: dodgerblue;
  transition: 0.5s;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  overflow: hidden;
  text-align: center;

  background: linear-gradient(90deg, #3f5efb, #e2d7d9);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: letteraAnim 3s infinite ease-in-out;
}

.title:hover span:nth-child(1) {
  transform: translateY(-14px);
}

.title span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  transition: 0.5s;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  overflow: hidden;
  text-align: center;

  background: linear-gradient(90deg, #3f5efb, #e2d7d9);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: letteraAnim 3s infinite ease-in-out;
}

@keyframes letteraAnim {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }

}


.title:hover span:nth-child(2) {
  transform: translateY(18px);
}

.title span:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) scaleY(0);
  width: 100%;
  color: #000;


  background: linear-gradient(45deg, #dffb3f, #ece9ea,  #dffb3f);
  background-size: 200% 200%;
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: black;

  animation: letBack 3s infinite ease-in-out;

  font-size: 0.33em;
  letter-spacing: 0.7em;
  text-align: center;
  padding-left: 20px;
  margin-left: 0px;
  transition: 0.5s;
}

@keyframes letBack {
  0% {
    background-position: 0 80%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }

}



.title:hover span:nth-child(3) {
  transform: translateY(-50%) scaleY(1);
}