.nav-container{
  background: indianred;
  width: 20%;
  height: 100vh;
  position: fixed;
}

.nav-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-contacts{
  border: 1px solid greenyellow;
  display: flex;
  justify-content: space-around;
}

.nav-contacts i{
  font-size: 1rem;
  margin: 5px;
}