.skills-container {
  width: 100%;
  background-color: var(--secondary-bgcolor);
  /* border: 1px solid greenyellow; */
  padding: 15px;
}

.technology-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
}

.technology-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.technology-container img {
  width: 120px;
  height: 120px;
  margin: 10px;
}

/*    TARGET    */

.js {
  --bg-color: #f8de1a;
  --bg-color-light: #fff8c7;
  --text-color-hover: #4c5656;
  --box-shadow-color: rgba(252, 255, 189, 0.762);
}

.css {
  --bg-color: #1673b6;
  --bg-color-light: #cdeaff;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(118, 186, 250, 0.48);
}

.html {
  --bg-color: #e44f26;
  --bg-color-light: #ffd4c8;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(255, 147, 97, 0.48);
}

.git {
  --bg-color: #f76b55e8;
  --bg-color-light: #ffe4e0;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(255, 202, 152, 0.48);
}

.github {
  --bg-color: #757575;
  --bg-color-light: #9e9e9e;
  --text-color-hover: #fffefe;
  --box-shadow-color: rgba(165, 165, 161, 0.762);
}

.bs {
  --bg-color: #daabf1;
  --bg-color-light: #aa66cc;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(202, 105, 247, 0.48);
}

.router {
  --bg-color: #fa8888;
  --bg-color-light: #ffc8c8;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(243, 44, 44, 0.48);
}

.react {
  --bg-color: #9af4fa;
  --bg-color-light: #ffe4e0;
  --text-color-hover: #000;
  --box-shadow-color: rgba(125, 228, 247, 0.48);
}

.redux {
  --bg-color: #c9a2fc;
  --bg-color-light: #ffe4e0;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(157, 92, 243, 0.48);
}

.card {
  width: 200px;
  height: 270px;
  background: #fff;
  border-top-right-radius: 10px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.11);
  transition: all 0.3s ease-out;
  text-decoration: none;
  cursor: default;
}

.card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 14px 22px rgba(0, 0, 0, 0.11),
    0 14px 31px var(--box-shadow-color);
  cursor: default;
}

.card:hover .cor__cobertura {
  transform: scale(4) translateZ(0);
  cursor: default;
}

.card:hover .circulo {
  background: var(--bg-color);
  border: 2px dotted var(--bg-color-light);
  cursor: default;
}

.card:hover .circulo:after {
  background: var(--bg-color-light);
  cursor: default;
}

.card:hover h5 {
  color: var(--text-color-hover);
  letter-spacing: 3px;
  cursor: default;
}

.card:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0 10px 13px rgba(0, 0, 0, 0.2),
    0 15px 24px var(--box-shadow-color);
}

.card h5 {
  font-size: 17px;
  color: #4c5656;
  margin-top: 30px;
  z-index: 1000;
  transition: color 0.3s ease-out;
}

.circulo {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.circulo:after {
  content: "";
  width: 118px;
  height: 118px;
  display: block;
  position: absolute;
  background: var(--bg-color);
  border-radius: 50%;
  top: 7px;
  left: 7px;
  transition: opacity 0.3s ease-out;
}

.circulo img {
  z-index: 10000;
  transform: translateZ(0);
}

.cor__cobertura {
  width: 100px;
  position: absolute;
  height: 100px;
  border-radius: 50%;
  background: var(--bg-color);
  top: 75px;
  left: 50px;
  z-index: 0;
  transition: transform 0.3s ease-out;
}