:root {
  --primary-bgcolor: #fff;
  --secondary-bgcolor: #f0f9fc;
  --tertiary-color: #555000;
  --primary-text-color: DarkSlateGray;
  --secondary-text-color:GhostWhite ;
  --tertiary-text-color: ;
  --accent-color: dodgerblue;
}
/*      GENERL     */
@font-face {
  font-family: Jurko;
  src: url(../assets/ALT_JURKO.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2, h3,
h4, h5, h6 {
  font-family: Jurko;
  color: var(--primary-text-color);
}
body{
  background-image: url('../assets/bg-main.jpg');
  background-repeat: no-repeat;
  background-size: 100%; 
  background-attachment: fixed;
  color: black;
  font-size: 24px;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.app-navbar{
  width:280px;
}
.app-body{
  width: calc(100% - 280px);
  align-items: flex-end;
}